@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;

}

canvas {
  display: block;
  width: 98.9vw;
  height: 100vh;
}


.display {
  display: block !important;
}

.menu-list {
  display: none;
}

.list-item {
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  transition: all .15s ease-in 0s;
}

.list-item span {
  transition: all .15s ease-in 0s;
}

.list-item:hover span::before {
  transition: all .15s ease-in 0s;
}

.list-item:hover span::before {
  transition: all .15s ease-in 0s;
  transform: rotate(180deg);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: -6px;
  top: 8px;
  content: ' ';
  background-image: url('img/trash-svgrepo-com.svg');
  /* background-size: 20px 20px; */
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.checked {
  color: rgba(187, 187, 187, 0.769);
  text-decoration: line-through;
}

/* font-family: 'Montserrat', sans-serif; */
body {
  font-family: 'Montserrat', sans-serif;
  /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
  display: flex;
  min-height: 100vh; */
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;

}

input:focus {
  border-bottom-color: #ddd;
}

button {
  margin-top: 24px;
  text-transform: uppercase;
  background: none;
  border: none;
  /* color: #ea1d6f; */
  color: #ddd;

  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.last-wrp {
  position: absolute;
  top: 0px;
  left: 10%;
  display: flex;
  align-items: center;
  padding: 10px;
  /* flex: 0 1 700px; */
  margin: auto;
  /* padding: 10px; */
}

.last-timer {
  width: 400px;
}

.screen {
  width: 700px;
  margin-left: 100px;

}

.screen__title {
  color: #ddd;
}

.screen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header-button__btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  border-radius: 8px;
  background: white;
}

.header-button:hover .header-button--close::before {
  display: block;
}

.header-button:hover .header-button--close::after {
  display: block;
}

.header-button:hover .header-button--maximize::before {
  display: block;
}

.header-button:hover .header-button--minimize::before {
  display: block;
}

.header-button:hover .header-button--minimize::after {
  display: block;
}

.header-button--close {
  position: relative;
  background: rgb(223, 95, 87);
}

.header-button--close::before,
.header-button--close::after {
  position: absolute;
  content: '';
  display: none;
  top: 4px;
  left: 1.65px;
  width: 8px;
  height: 1px;
  border-bottom: 1.5px solid rgba(131, 1, 0, 0.7);
}

.header-button--close::before {
  transform: rotate(45deg);
}

.header-button--close::after {
  transform: rotate(-45deg);
}


.header-button--maximize {
  background: rgb(237, 187, 63);
  position: relative;
}

.header-button--maximize::before {
  position: absolute;
  content: '';

  display: none;
  width: 7.5px;
  height: 1px;
  top: 4px;
  left: 2.65px;
  border-bottom: 1.9px solid #a16f1f;
}


.header-button--minimize {
  background: rgb(117, 198, 77);
  position: relative;
}

.header-button--minimize::before {
  position: absolute;
  content: '';
  display: none;
  top: 4px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 5px 5px;
  border-color: transparent transparent #386214 transparent;
}

.header-button--minimize::after {
  position: absolute;
  content: '';
  display: none;
  bottom: 4px;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: #386214 transparent transparent transparent;
}



.header-dots {
  display: flex;
}

.header-dots__ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen__body {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #3e3e3e;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}




.form-wrp {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}

.form-wrp input {
  max-width: 75%;
  margin: 0 auto;
}

.timer__count {
  font-size: 32px;
  color: #ddd;
}

.screen__header-button {
  display: flex;
  margin-right: 15px;
}

.tabs {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 33px;
  line-height: 33px;

}

.tabs .tab {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  background: rgb(97 94 94);
  color: #000;
  font-size: 13px;
  font-weight: 500;
  padding: 0 8px;
  margin-right: 1px;
  cursor: pointer;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.tab .tab__favi {
  vertical-align: middle;
  width: 16px;
  height: 11px;
  margin-right: 5px;
}

.tab .tab__text {
  margin-right: 10px;
}

.tab .tab__close {
  display: block;
  position: relative;
  height: 12px;
  padding-right: 15px;
}

.tab .tab__close:hover {
  /* background-color: rgb(195, 195, 195); */
  background-color: rgb(195, 195, 195);
  /* height: 15px; */
  /* width: 15px; */
  margin: 0;
  border-radius: 50%;
  /* position: absolute;               
  top: 50%;  
  
  transform: translate(0, -50%) */
}

.tab__close::before,
.tab__close::after {
  position: absolute;
  content: '';
  /* display: none; */
  top: 4px;
  left: 1.65px;
  width: 11px;
  height: 1px;
  border-bottom: 1.2px solid rgba(35, 35, 35, 0.7);
}

.tab__close::before {
  transform: rotate(45deg);
}

.tab__close::after {
  transform: rotate(-45deg);
}

.tabs .tab_active {
  color: #dd4b39;
  background-color: rgb(195, 195, 195);
}

.panels .panel {
  padding: 20px 10px;
  display: none;
  border: 2px solid #dbed1c;
}

.panels .panel_active {
  display: block;
}


/* margin: 0;
   position: absolute;               
   top: 50%;                         
   transform: translate(0, -50%) */